<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd">
        <!-- 1、扫描有注解的类，除开controller -->
        <context:component-scan base-package="cn.demo">
        	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        </context:component-scan>
        
        <!-- 2、加载数据源文件， -->
        <context:property-placeholder location="classpath:datasource.properties"/>
        
        <!-- 3、配置数据源 -->
        <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        	<property name="driverClassName" value="${driver}"></property>
        	<property name="username" value="${user}"></property>
        	<property name="url" value="${url}"></property>
        	<property name="password" value="${password}"></property>
        	<property name="initialSize" value="${initialSize}"></property>
        	<property name="maxTotal" value="${maxTotal}"></property>
        	<property name="maxIdle" value="${maxIdle}"></property>
        	<property name="minIdle" value="${minIdle}"></property>
        	<property name="maxWaitMillis" value="${maxWaitMillis}"></property>
        	<!-- sql循环心跳包 -->
        	<property name="testOnBorrow" value="false"></property>
        	<property name="testOnReturn" value="false"></property>
        	<property name="testWhileIdle" value="true"></property>
        	<property name="timeBetweenEvictionRunsMillis" value="6000"></property>
        	<property name="validationQuery" value="select 1"></property>
        	<property name="numTestsPerEvictionRun" value="${maxTotal}"></property>
        </bean>
        
        <!-- 4、SQLsessionfactoryBean -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="dataSource" ref="dataSource"></property>
        	<property name="typeAliasesPackage" value="cn.demo.pojo"></property>
        	<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
        </bean>
        
        <!-- 5、配置dao -->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<property name="basePackage" value="cn.demo.dao"></property>
        	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        </bean>
        
        <!-- 6、配置事务增强类 -->
        <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        	<property name="dataSource" ref="dataSource"></property>
        </bean>
        
        <!-- 7、配置事务增强方法 -->
        	<tx:advice id="txAdvice">
        		<tx:attributes>
        			<tx:method name="*" propagation="REQUIRED"/>
        		</tx:attributes>
        	</tx:advice>
        	
        <!-- 8、配置aop切面 -->
        <aop:config>
        	<aop:pointcut expression="execution(* cn.demo..*(..))" id="myPoincut"/>
        	<aop:advisor advice-ref="txAdvice" pointcut-ref="myPoincut"/>
        </aop:config>
        
</beans>